<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} navbar {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/login">Iniciar Sesion</a>
            </li>
            <li>
                <a href="/signup">Registrase</a>
            </li>         
        </ul>
    </nav>
    
    
    {% block content %}
    {% endblock %}
    
</body>
</html>