{% extends 'base.html' %}
{% load static %}

{% block title %} Iniciar Sesion {% endblock %}

{%block content%}
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
<h1>Iniciar Sesión</h1>
{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required><br><br>
    
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required><br><br>
    
    <input type="submit" value="Iniciar Sesión">
</form>

{% endblock %}